html,
body {
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.form-floating {
    /*width: 100%;*/
    /*max-width: 360px;*/
    /*padding: 15px;*/
    /*margin: auto;*/
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-floating label {
    display: inline-block;
    margin-bottom: 5px;
}

/*.form-floating .form-floating:focus-within {*/
/*    z-index: 2;*/
/*}*/

.form-floating input {
    /*border: 2px solid #f0f0f0;*/
    /*border-radius: 4px;*/
    /*margin-bottom: 10px;*/
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-floating input:focus {
    outline: 0;
    border-color: #777;
}

.form-floating.success input {
    border-color: #2ecc71;
}

.form-floating.error input {
    border-color: #e74c3c;
}

.form-floating small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-floating.error small {
    visibility: visible;
}


.form-book {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: auto;
}

.form-book .form-floating:focus-within {
    z-index: 2;
}

.form-book input[type="text"] {
    margin-bottom: 10px;
}

.form-book input[type="number"] {
    margin-bottom: 10px;
}

.tocart {
    opacity: 0;
    max-width: 10px;
}